@import 'octo';
$bx: 1px;
.hd {
  background-image: -webkit-linear-gradient(left,#73a5c3,#6875be);
  background-image: linear-gradient(90deg,#73a5c3 0,#6875be);
  background-repeat: repeat-x;
  color: white;
  padding-bottom: 3em;
}
.btn-hd {
  @extend .btn-success-outline !optional;
  border-color: white;
  color: white;
  margin: 1em;
  &:hover {
    border-color: orangered;
    color: orangered;
  }
}

.price {
  @extend .hd;
  padding-top: 3em;
}

.lg {
  font-size: larger;
}

.rb {
  border-right: $bx solid white;
}

.lb {
  border-left: $bx solid white;
}


.rbb-x {
  border-right: $bx solid #73a5c3;
}
.lbb-x {
  border-left: $bx solid #73a5c3;
}
.rbb {border-right: $bx solid black;}
.lbb {border-left: $bx solid black;}
.bbb {border-bottom: $bx solid black;}

.std {
  padding-top: 3em;
  padding-bottom: 3em;
}

.nowrap {
  p {
    display: inline;
  }
}

#proc {
  .col-sm-2 {
    height: 10em;
    color: #6875be;
  }
}